.container{
  padding: 0 1rem;
}

.btn{
  display: inline-block;
  background: rgb(41, 12, 209);
        color: rgb(237, 253, 8);
        padding: 7px 20px;
        border: none;
        cursor: pointer;
        font-family:  2px monospace;
}

.btn:hover{
  background: rgb(22, 255, 1);

}
